@page "/manageentries/edit/{id}"
@using BaseballPipeline.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation

<h2>Edit Entry</h2>
<hr />
<Form entryModel="@entryModel" OnValidSubmit="@EditEntry" OnCancel="Cancel" />
@functions {
        [Parameter]
        public string id { get; set; }
    public EntryModel entryModel = new EntryModel() { Tags = new List<MultipleSelectorModel>() };
    protected override async Task OnInitializedAsync()
    {
        entryModel = await Http.GetFromJsonAsync<EntryModel>($"Entry/{Convert.ToInt32(id)}");
    }
    protected async Task EditEntry()
    {
        await Http.PutAsJsonAsync("Entry", entryModel);
        Navigation.NavigateTo("manageentries");
    }
    void Cancel()
    {
        Navigation.NavigateTo("manageentries");
    }
}
